<div>
	<a class="btn btn-default" ng-class="{'active': filter.category == ''}" href="/found-shop/build">Home</a>
	<a class="btn btn-default" ng-class="{'active': filter.category == 'katalog'}" href="search/katalog/1">Przeglądaj katalog</a>
	<a class="btn btn-default" ng-class="{'active': filter.category == 'kobiety'}" href="search/kobiety/1">Kobiety</a>
	<a class="btn btn-default" ng-class="{'active': filter.category == 'mezczyzni'}" href="search/mezczyzni/1">Mężczyźni</a>
	<a class="btn btn-default" ng-class="{'active': filter.category == 'dzieci'}" href="search/dzieci/1">Dzieci</a>
</div><br />